-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: tigerworld
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `building`
--

DROP TABLE IF EXISTS `building`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `building` (
  `campus_ID` bigint unsigned NOT NULL,
  `building_ID` bigint unsigned NOT NULL AUTO_INCREMENT,
  `building_name` varchar(255) DEFAULT NULL,
  `building_status` varchar(11) NOT NULL,
  `lat` double DEFAULT NULL,
  `lng` double DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `days` json DEFAULT NULL,
  `monday_open` time DEFAULT NULL,
  `monday_close` time DEFAULT NULL,
  `tuesday_open` time DEFAULT NULL,
  `tuesday_close` time DEFAULT NULL,
  `wednesday_open` time DEFAULT NULL,
  `wednesday_close` time DEFAULT NULL,
  `thursday_open` time DEFAULT NULL,
  `thursday_close` time DEFAULT NULL,
  `friday_open` time DEFAULT NULL,
  `friday_close` time DEFAULT NULL,
  `saturday_open` time DEFAULT NULL,
  `saturday_close` time DEFAULT NULL,
  `sunday_open` time DEFAULT NULL,
  `sunday_close` time DEFAULT NULL,
  PRIMARY KEY (`building_ID`),
  UNIQUE KEY `campus_ID` (`campus_ID`,`building_name`),
  CONSTRAINT `building_ibfk_1` FOREIGN KEY (`campus_ID`) REFERENCES `campus` (`campus_ID`) ON DELETE CASCADE,
  CONSTRAINT `building_chk_1` CHECK ((`building_status` in (_utf8mb4'AVAILABLE',_utf8mb4'UNAVAILABLE')))
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `building`
--

LOCK TABLES `building` WRITE;
/*!40000 ALTER TABLE `building` DISABLE KEYS */;
INSERT INTO `building` VALUES (2,10,'Patrick F. Taylor Hall','AVAILABLE',30.4077484,-91.1819857,'3304 S Quad Dr, Baton Rouge, LA 70803','+12255785731','[\"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\"]','08:00:00','22:00:00','08:00:00','22:00:00','08:00:00','22:00:00','08:00:00','22:00:00','08:00:00','22:00:00','00:00:00','00:00:00','00:00:00','00:00:00');
/*!40000 ALTER TABLE `building` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campus`
--

DROP TABLE IF EXISTS `campus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `campus` (
  `campus_ID` bigint unsigned NOT NULL AUTO_INCREMENT,
  `campus_name` varchar(255) DEFAULT NULL,
  `campus_status` varchar(11) NOT NULL,
  PRIMARY KEY (`campus_ID`),
  UNIQUE KEY `campus_name` (`campus_name`),
  CONSTRAINT `campus_chk_1` CHECK ((`campus_status` in (_cp850'AVAILABLE',_cp850'UNAVAILABLE')))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campus`
--

LOCK TABLES `campus` WRITE;
/*!40000 ALTER TABLE `campus` DISABLE KEYS */;
INSERT INTO `campus` VALUES (1,'Main Campus','AVAILABLE'),(2,'LSU','AVAILABLE');
/*!40000 ALTER TABLE `campus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `connection`
--

DROP TABLE IF EXISTS `connection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `connection` (
  `ownerA_type` enum('ROOM','HALLWAY','STOP','CAMPUS') NOT NULL,
  `ownerA_id` bigint unsigned NOT NULL,
  `ownerB_type` enum('ROOM','HALLWAY','STOP','CAMPUS') NOT NULL,
  `ownerB_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`ownerA_type`,`ownerA_id`,`ownerB_type`,`ownerB_id`),
  KEY `ownerA_type` (`ownerA_type`,`ownerA_id`),
  KEY `ownerB_type` (`ownerB_type`,`ownerB_id`),
  CONSTRAINT `connection_chk_1` CHECK (((`ownerA_type` <> `ownerB_type`) or (`ownerA_id` <> `ownerB_id`))),
  CONSTRAINT `connection_chk_2` CHECK (((`ownerA_type` < `ownerB_type`) or ((`ownerA_type` = `ownerB_type`) and (`ownerA_ID` < `ownerB_ID`))))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `connection`
--

LOCK TABLES `connection` WRITE;
/*!40000 ALTER TABLE `connection` DISABLE KEYS */;
/*!40000 ALTER TABLE `connection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coordinate_pair`
--

DROP TABLE IF EXISTS `coordinate_pair`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coordinate_pair` (
  `pair_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `pair_owner_type` varchar(8) NOT NULL,
  `pair_owner_id` bigint unsigned DEFAULT NULL,
  `coordinates` point NOT NULL /*!80003 SRID 4326 */,
  PRIMARY KEY (`pair_id`),
  CONSTRAINT `coordinate_pair_chk_1` CHECK ((`pair_owner_type` in (_cp850'ROOM',_cp850'HALLWAY',_cp850'ELEVATOR',_cp850'STAIR',_cp850'BUILDING')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coordinate_pair`
--

LOCK TABLES `coordinate_pair` WRITE;
/*!40000 ALTER TABLE `coordinate_pair` DISABLE KEYS */;
/*!40000 ALTER TABLE `coordinate_pair` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `floor`
--

DROP TABLE IF EXISTS `floor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `floor` (
  `building_ID` bigint unsigned NOT NULL,
  `floor_ID` bigint unsigned NOT NULL AUTO_INCREMENT,
  `floor_number` bigint unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `floor_status` varchar(11) NOT NULL,
  PRIMARY KEY (`floor_ID`),
  UNIQUE KEY `building_ID` (`building_ID`,`floor_number`),
  CONSTRAINT `floor_ibfk_1` FOREIGN KEY (`building_ID`) REFERENCES `building` (`building_ID`) ON DELETE CASCADE,
  CONSTRAINT `floor_chk_1` CHECK ((`floor_status` in (_cp850'AVAILABLE',_cp850'UNAVAILABLE')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `floor`
--

LOCK TABLES `floor` WRITE;
/*!40000 ALTER TABLE `floor` DISABLE KEYS */;
/*!40000 ALTER TABLE `floor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hallway`
--

DROP TABLE IF EXISTS `hallway`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hallway` (
  `floor_ID` bigint unsigned NOT NULL,
  `hallway_ID` bigint unsigned NOT NULL AUTO_INCREMENT,
  `hallway_name` varchar(255) DEFAULT NULL,
  `status` varchar(11) NOT NULL,
  PRIMARY KEY (`hallway_ID`),
  KEY `floor_ID` (`floor_ID`),
  CONSTRAINT `hallway_ibfk_1` FOREIGN KEY (`floor_ID`) REFERENCES `floor` (`floor_ID`) ON DELETE CASCADE,
  CONSTRAINT `hallway_chk_1` CHECK ((`status` in (_cp850'AVAILABLE',_cp850'UNAVAILABLE')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hallway`
--

LOCK TABLES `hallway` WRITE;
/*!40000 ALTER TABLE `hallway` DISABLE KEYS */;
/*!40000 ALTER TABLE `hallway` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `infra_events`
--

DROP TABLE IF EXISTS `infra_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `infra_events` (
  `event_ID` bigint unsigned NOT NULL AUTO_INCREMENT,
  `infra_ID` bigint unsigned NOT NULL,
  `infra_type` char(4) NOT NULL,
  `event_name` varchar(255) NOT NULL,
  `start_time` time DEFAULT NULL,
  `end_time` time DEFAULT NULL,
  `event_date` date DEFAULT NULL,
  PRIMARY KEY (`event_ID`),
  UNIQUE KEY `infra_type` (`infra_type`,`infra_ID`,`event_date`,`start_time`,`end_time`,`event_name`),
  CONSTRAINT `infra_events_chk_1` CHECK ((`infra_type` in (_cp850'CAMPUS',_cp850'BUILDING',_cp850'FLOOR',_cp850'ZONE',_cp850'ROOM')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `infra_events`
--

LOCK TABLES `infra_events` WRITE;
/*!40000 ALTER TABLE `infra_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `infra_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `room`
--

DROP TABLE IF EXISTS `room`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `room` (
  `room_ID` bigint unsigned NOT NULL AUTO_INCREMENT,
  `room_number` varchar(10) DEFAULT NULL,
  `room_classification` varchar(9) DEFAULT NULL,
  `room_status` varchar(11) NOT NULL,
  `building_ID` bigint unsigned NOT NULL,
  `occupant` varchar(100) DEFAULT NULL,
  `department` varchar(100) DEFAULT NULL,
  `restroom_type` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`room_ID`),
  UNIQUE KEY `floor_ID` (`room_number`),
  KEY `fk_room_building` (`building_ID`),
  CONSTRAINT `fk_room_building` FOREIGN KEY (`building_ID`) REFERENCES `building` (`building_ID`) ON DELETE CASCADE,
  CONSTRAINT `room_chk_1` CHECK ((`room_classification` in (_utf8mb4'CLASSROOM',_utf8mb4'FOOD',_utf8mb4'RESTROOM',_utf8mb4'LABORATORY',_utf8mb4'OFFICE',_utf8mb4'OTHER'))),
  CONSTRAINT `room_chk_2` CHECK ((`room_status` in (_utf8mb4'AVAILABLE',_utf8mb4'UNAVAILABLE')))
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `room`
--

LOCK TABLES `room` WRITE;
/*!40000 ALTER TABLE `room` DISABLE KEYS */;
/*!40000 ALTER TABLE `room` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transport_shaft`
--

DROP TABLE IF EXISTS `transport_shaft`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transport_shaft` (
  `shaft_ID` bigint unsigned NOT NULL AUTO_INCREMENT,
  `building_ID` bigint unsigned NOT NULL,
  `transport_type` varchar(8) NOT NULL,
  `transport_number` bigint unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`shaft_ID`),
  UNIQUE KEY `building_ID` (`building_ID`,`transport_type`,`transport_number`),
  CONSTRAINT `transport_shaft_ibfk_1` FOREIGN KEY (`building_ID`) REFERENCES `building` (`building_ID`) ON DELETE CASCADE,
  CONSTRAINT `transport_shaft_chk_1` CHECK ((`transport_type` in (_cp850'ELEVATOR',_cp850'STAIR')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transport_shaft`
--

LOCK TABLES `transport_shaft` WRITE;
/*!40000 ALTER TABLE `transport_shaft` DISABLE KEYS */;
/*!40000 ALTER TABLE `transport_shaft` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transport_stop`
--

DROP TABLE IF EXISTS `transport_stop`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transport_stop` (
  `stop_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `shaft_id` bigint unsigned NOT NULL,
  `floor_id` bigint unsigned NOT NULL,
  `stop_status` varchar(11) NOT NULL,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`stop_id`),
  UNIQUE KEY `shaft_id` (`shaft_id`,`floor_id`),
  KEY `floor_id` (`floor_id`),
  CONSTRAINT `transport_stop_ibfk_1` FOREIGN KEY (`shaft_id`) REFERENCES `transport_shaft` (`shaft_ID`) ON DELETE CASCADE,
  CONSTRAINT `transport_stop_ibfk_2` FOREIGN KEY (`floor_id`) REFERENCES `floor` (`floor_ID`) ON DELETE CASCADE,
  CONSTRAINT `transport_stop_chk_1` CHECK ((`stop_status` in (_cp850'AVAILABLE',_cp850'UNAVAILABLE')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transport_stop`
--

LOCK TABLES `transport_stop` WRITE;
/*!40000 ALTER TABLE `transport_stop` DISABLE KEYS */;
/*!40000 ALTER TABLE `transport_stop` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_ID` bigint unsigned NOT NULL AUTO_INCREMENT,
  `email` varchar(255) DEFAULT NULL,
  `password_hash` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`user_ID`),
  UNIQUE KEY `email` (`email`),
  CONSTRAINT `users_chk_1` CHECK ((`email` like _cp850'%.edu'))
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'kwinch3@lsu.edu','$2b$10$vEZkibqoEDbx7ZRytOZKxexZwdGdeOy9KRXyOlcDB2OiGMS5S5GWG');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `zone`
--

DROP TABLE IF EXISTS `zone`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `zone` (
  `floor_ID` bigint unsigned NOT NULL,
  `zone_ID` bigint unsigned NOT NULL AUTO_INCREMENT,
  `zone_number` bigint unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `zone_status` varchar(11) NOT NULL,
  PRIMARY KEY (`zone_ID`),
  UNIQUE KEY `floor_ID` (`floor_ID`,`zone_number`),
  CONSTRAINT `zone_ibfk_1` FOREIGN KEY (`floor_ID`) REFERENCES `floor` (`floor_ID`) ON DELETE CASCADE,
  CONSTRAINT `zone_chk_1` CHECK ((`zone_status` in (_cp850'AVAILABLE',_cp850'UNAVAILABLE')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `zone`
--

LOCK TABLES `zone` WRITE;
/*!40000 ALTER TABLE `zone` DISABLE KEYS */;
/*!40000 ALTER TABLE `zone` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `zone_room`
--

DROP TABLE IF EXISTS `zone_room`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `zone_room` (
  `zone_ID` bigint unsigned NOT NULL,
  `room_ID` bigint unsigned NOT NULL,
  PRIMARY KEY (`zone_ID`,`room_ID`),
  KEY `room_ID` (`room_ID`),
  CONSTRAINT `zone_room_ibfk_1` FOREIGN KEY (`zone_ID`) REFERENCES `zone` (`zone_ID`) ON DELETE CASCADE,
  CONSTRAINT `zone_room_ibfk_2` FOREIGN KEY (`room_ID`) REFERENCES `room` (`room_ID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `zone_room`
--

LOCK TABLES `zone_room` WRITE;
/*!40000 ALTER TABLE `zone_room` DISABLE KEYS */;
/*!40000 ALTER TABLE `zone_room` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-06 19:26:00
